/* reset必须要在第一行，否则会把后面的sobrescribir */
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    scroll-behavior: smooth;
}

:root {
    --funteprincipal: 'Montserrat', sans-serif;
    --funetetitulo: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #212423;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 68.75em;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

body {
    font-family: var(--funteprincipal);
    font-size: var(--font-size);
}

/* Inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a i {
    font-size: 150%;
}

header .nav-top span {
    color: #fff;
    display: none;
}





/* Final header */